/*
|-------------------------------------------------------------------------------
| APP COLOR SCHEMA
|-------------------------------------------------------------------------------
*/

$LIGHT: #fefefe;
$RED: #e10600;
$DARK: #121214;
$LIGHT-DARK: #1f1f27;

/*
|-------------------------------------------------------------------------------
| BREAKPOINTS
|-------------------------------------------------------------------------------
*/

// Usage example: @media #{$BREAKPOINT-DESK}

$BREAKPOINT-DESK: "only screnn and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: "only screnn and (min-width: 975px)";
$BREAKPOINT-TABLET: "only screnn and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: "only screnn and (min-width: 480px)";

/*
|-------------------------------------------------------------------------------
| MIXINS
|-------------------------------------------------------------------------------
*/

@mixin toRem($property, $value) {
  #{$property}: ($value / 16) + rem;
}

@mixin paddingVertical($top, $bottom) {
  padding-top: ($top / 16) + rem;
  padding-bottom: ($bottom / 16) + rem;
}

@mixin paddingHorizontal($left, $right) {
  padding-left: ($left / 16) + rem;
  padding-right: ($right / 16) + rem;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin margin-page {
  width: calc(100% - 2.5rem);
  margin: 0 auto;

  @media #{$BREAKPOINT-DESK} {
    max-width: 1000px;
  }
}
