@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  color: $LIGHT;
  background: $DARK;
}

body,
div#root,
div.App {
  height: 100vh;
}

table {
  @include toRem(width, 300);

}

tbody,
thead {
  display: block;
}

tbody {
  @include toRem(height, 504);

  overflow-y: scroll;
}

p,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  vertical-align: baseline;
}

.container {
  @include margin-page;
  @include paddingHorizontal(16, 16);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: calc(100% - 4rem);
}

.data__center {
  text-align: center;
}
