.drivers {
  @include flexColumn;

  &__table {
    @include paddingHorizontal(8, 8);
    @include paddingVertical(8, 16);
    @include toRem(border-radius, 20);

    background: $LIGHT-DARK;
    box-shadow: inset 0px -10px 15px rgba(0, 0, 0, 0.4);
  }

  &__heading {
    @include paddingHorizontal(8, 8);
  }

  &__body-data {
    @include toRem(font-size, 12);
    @include toRem(line-height, 12);
    @include paddingHorizontal(8, 8);
    @include paddingVertical(4, 4);

    vertical-align: middle;
  }
}
