.constructors {
  @include flexColumn;

  color: #fefefe;

  &__title {
    @include toRem(font-size, 28);

    text-align: center;
    font-weight: bold;
  }

  &__table {
    @include toRem(font-size, 12);
    @include toRem(border-radius, 20);
    @include toRem(width, 299);
    @include toRem(height, 504);

    background: #1f1f27;
    border-collapse: collapse;
    border-spacing: 0;
  }

  &__header {
    display: block;
  }

  &__table--heading {
    @include toRem(font-size, 16);
    @include toRem(width, 108);
    @include paddingHorizontal(14, 14);

    font-weight: bold;
  }

  &__body {
    display: block;

    @include toRem(height, 504);

    & > tr:nth-child(odd) {
      background: #1c1c24;
    }

    &--row {
      width: 100%;
      display: inline-block;
    }

    &--data {
      @include toRem(width, 108);
    }
  }

  .centered {
    text-align: center;
  }
}
